@{
    ViewData["Title"] = "Home Page";

}

@model BooksViewModel

<div>
    <h1 class="text-center">Welcome to My Bookstore</h1>
    <br /><br />

    @*display model*@
    
    @foreach (Book b in Model.Books)
    {
        <div class="row">
            <div class="col-md">
                <h3>@b.Title</h3>
            </div>
            <div class="col-sm">
                <ul class="">
                    <li>Author: @b.Author</li>
                    <li>Publisher: @b.Publisher</li>
                    <li>ISBN: @b.Isbn Served</li>
                    <li>Classification: @b.Classification</li>
                    <li>Category: @b.Category</li>
                    <li>Pages: @b.PageCount</li>
                    <li>Price: $@b.Price</li>
                </ul>
            </div>
            <br />
        </div>

    }

    @*page numbers*@
    @*<div page-blah="@Model.PageInfo" page-action="Index"></div>*@

<div class="text-center">
    <div page-blah="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
              page-class="btn" page-class-normal="btn-outline-dark"
              page-class-selected="btn-primary" class="btn-group pull-right m-1">
    </div>

</div>

    

</div>



